video {
    min-width: 100%;
    min-height: 100%;
    width:auto;
    height:auto;

}

body {
    color: black;
    font-family: "Lucida Sans Unicode", "Arial Black", Gadget, sans-serif;
    overflow-x: hidden;
    line-height: 1.1;
    margin: 0;
    font-size: 1rem;
    
}
.v-header {
    height:100vh;
    display: flex;
    align-items: center;
    vertical-align: middle;
    
    color: white;
    
}
.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
 
}
.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #225470;
    z-index: 1;
    opacity: 0.85;
}
.header-content {
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}
.header-content h1 {
    font-size: 50px;
    margin-bottom: 0;
}
.header-content p1 {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
    
}
.btn {
    opacity: 0.85;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: solid;
    border-color: white;
    text-decoration: none;
}
.section { 
    padding: 30vh 0; 
   
}

.section-a{
    background: #E8EAEC;
    color: black;
    padding: 10vh;
     
}
.section-b{
    background: #333;
    color: white;
    padding: 3vh;
}
.section-b a{
    padding: 20px;

}
.container-heading {
    color: black;
    text-align: center;
    position: relative;
    top: -1vh;     
}
@media(min-width: 760px) {
    
    .container-1 {
    display: flex;
   
    }
    
    .container-2 {
    display: flex;
    
    }
    .container-1 div, .container-2 div{
    border: 1px #ccc solid;
    padding: 10vh;
    }
}
.project-1{
    flex: 1;

}
.project-1:hover, .project-2:hover, .project-3:hover, .project-4:hover, .project-5:hover, .project-6:hover {
    background-color: #D3D3D3;
}
.project-2 {
    flex: 1;
}

.project-3 {
    flex: 1;
}

.project-4 {
    flex: 1;

}
.project-5 {
    flex: 1;
}
.project-6 {
    flex: 1;
}

@media(max-width:960px) {
    .container{
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

.section-a-nav{

    overflow: hidden;
    border: solid;
    border-bottom-color: #3C1776;
    border-top-color: #054A9D;
    border-left-color: #054A9D;
    border-right-color: #054A9D;
    background-color: #054A9D;
    margin: auto;
    padding: 1px;
    
    
    
    }
.section-a-nav ul{ 
    list-style-type: none;
    display: block;
    float: left;
    text-align: center;
    

    
}
.section-a-nav ul a {
    font-family: "Lucida Sans Unicode", "Arial Black", Gadget, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.section-a-nav ul a:hover {
    color: black;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;

}
